# 배열
- 개념 : 데이터를 연속적으로 나열한 후 인덱스에 대응시키도록 하는 구조
- 파이썬 구현체 : List

## 배열의 장점
- 같은 종류의 데이터를 효과적으로 저장 가능
- 빠른 접근 가능
    - **O(1)**
## 배열의 단점
- 저장공간이 고정되어 있어 데이터의 삽입/삭제가 어렵다
    - **O(N)**
- 파이썬에서 String은 Immutable이므로 그냥 아예 새로 만들어 버린다

In [2]:
# 문자열이지만, 사실상 내부적으론 배열임
country = 'US'
print(country)

US

In [3]:
# 배열에 새로운 원소 추가
country += 'A'
print(country)

USA

## 파이썬 배열 구현체 : LIST

In [4]:
# 1차원 배열
data = [1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [11]:
# 2차원 배열
data = [[1,2,3],[4,5,6],[7,8,9]]
print(data)
print(data[0])
print(data[0][0])
print(data[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
1
2

## 프로그래밍 연습
### 연습 1. 위의 data 2차원 배열에서 9,8,7 출력해보기

In [12]:
print(data[2][2],data[2][1],data[2][0])

9 8 7

### 연습 2. 아래에 제공된 dataset에서 M의 빈도수를 출력하라

In [15]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [24]:
# 풀이 1. 이중 반복문으로 계산
total_m = 0
for data in dataset :
    for char in data :
        if char == 'M' :
            total_m += 1

print(total_m)

38

In [23]:
# for문이 끝나고 나서도 for문 내부변수는 그대로 남아있음에 주의
data,char

('Todoroff, Mr. Lalio', 'o')